// Navbar.scss
$nav-bg-color: black;
$secondary-text-color: #fafafa;
$add-to-bag-color: rgb(250, 70, 22);
$nav-height: 65px;

// ShopDetails.scss
$border-radius-img-margin-title: 0.5rem;

// Cart.scss
$divide-line-bg-color-white: #e9e9e9;
$divide-line-bg-color-black: #333;
$media-query-small-screen: 480px;
$media-query-medium-screen: 600px;
$media-query-large-screen: 900px;
$media-query-xl-screen: 1440px;
