@import "./partials/variables";

.shop-details {
  margin: 0 auto;
  padding-bottom: 60px;
  width: 100%;
  max-width: $media-query-xlarge-screen;
  .shop-details-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @media screen and (min-width: $media-query-medium-screen) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (min-width: $media-query-large-screen) {
      grid-template-columns: repeat(4, 1fr);
    }
    grid-gap: 20px;
    padding: 0 20px;
    .shop-details-product-item {
      a {
        color: black;
        .product-img {
          width: 100%;
          height: auto;
          border-radius: $border-radius-img-margin-title;
        }
        .product-title-price-wrapper {
          margin-top: $border-radius-img-margin-title;
          margin-left: $border-radius-img-margin-title;
          .product-title {
            margin-bottom: 8px;
            font-size: 14px;
            font-weight: 500;
          }
          .product-price {
            font-size: 14px;
            font-weight: 400;
          }
        }
      }
    }
  }
}
